.navbar {
    /*background-color: #ff9b29;*/
    position:fixed;
    z-index: 1000;
    padding: .5rem 1rem; /* giá»¯ padding Bootstrap */
}

.img-logo {
    width: 200px;
}

.nav-link {
    color: rgb(95, 95, 95) !important;
    font-size: 20px !important;
}
.dark-mode .nav-link {
    color: #ff8c09 !important;
}
.nav-link:hover{
    color: #ff8c09 !important;
}
.dark-mode .nav-link:hover{
    color: rgb(225, 225, 225) !important;
}

/*---------------------------------------------------------------------*/


/* FOR PHONE */
@media (max-width: 480px) {
    .logo-title {
      font-size: larger;
    }
}