.home {
    height: auto;
    width: 100%;
    padding-top: 118px;
    color: white;
}

.home-content {
    width: 100%;
    height: auto ;
    background-image: url("../../assets/home_page/chicken_pattern_edited_2.jpg");
    text-align: center;
    padding-top: 80px;
}

.content-title {
    font-size: 100px;
    font-weight: bold;
    color: #ff6600;
}