.customed-card {
    margin-top: 3rem;
    border-radius: 30px;
    overflow: hidden;
}

.image-wrapper {
    height: 70%;
    overflow: hidden;
}
.image-wrapper img{
    transition: 0.3s ease;
}
.image-wrapper:hover img{
    transform: scale(1.2);
    transition: 0.3s ease;
}

.card-title {
    color: #ff8c09;
}